<div class="menu-top menu-top-1">
  <label class="menu menu-1">MENU</label>
</div>
<div style="text-align:center; margin-top: 107px;">
  <!-- <img alt="Logo" class="img img-1 animated bounceInDown fadeInDown" src="assets/image/photo.jpg"> -->
  <img alt="Logo" class="img img-1 animated fadeInDown" src="assets/image/photo.jpg">
</div>
<div class="description description-1 animated fadeInUp">
  My name is Diego and I am a multidisciplinary artist, graphic designer and illustrator based in Madrid, Spain.
  <br>
  <br>
  I’ve been doing work for high profile clients and top brands around the world with my personal signature ‘Paranoidme’
  since 2009.
  <br>
  <br>
  Heavily influenced by cinema, art nouveau and a mixture of ancient and contemporary cultures, my work is imaginative
  and detailed, featuring unique color palettes, forms and sometimes (why not), abstraction.
  <br>
  <br>
</div>

<router-outlet></router-outlet>