@font-face {
    font-family: 'HelveticaNeueLTCom-Lt';
    src: local("HelveticaNeueLTCom-Lt"), url('./assets/fonts/HelveticaNeueLTCom-Lt.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueLTCom-MdEx';
    src: local("HelveticaNeueLTCom-MdEx"), url('./assets/fonts/HelveticaNeueLTCom-MdEx.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Ex';
    src: local("HelveticaNeueLTStd-Ex"), url('./assets/fonts/HelveticaNeueLTStd-Ex.otf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueLTCom-Ex';
    src: local("HelveticaNeueLTCom-Ex"), url('./assets/fonts/HelveticaNeueLTCom-Ex.TTF') format('truetype');
}

body{
    margin: 0px;
    background-color: #bfbfbf;
}